[project]
	description = Logging framework for fast asynchronous logging
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/D瓜哥 (diguage)
[access "refs/for/refs/*"]
	read = group user/D瓜哥 (diguage)
	push = group user/D瓜哥 (diguage)
	label-Code-Review = -2..+2 group user/D瓜哥 (diguage)
	label-Verified = -1..+1 group user/D瓜哥 (diguage)
	rebase = group user/D瓜哥 (diguage)
	removeReviewer = group user/D瓜哥 (diguage)
	submit = group user/D瓜哥 (diguage)
[access "refs/heads/*"]
	read = group user/D瓜哥 (diguage)
	create = group user/D瓜哥 (diguage)
	push = +force group user/D瓜哥 (diguage)
	pushMerge = group user/D瓜哥 (diguage)
[access "refs/tags/*"]
	push = +force group user/D瓜哥 (diguage)
	pushTag = group user/D瓜哥 (diguage)
	pushSignedTag = group user/D瓜哥 (diguage)
